.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 24px 0px;
  margin: 24px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--grey);
}

.recommended-friends p {
  margin: 100px 0px;
  text-align: center;
  color: var(--grey);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.open-chat__header span {
  opacity: 0.8;
  margin-bottom: 24px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 8px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--grey);
  opacity: 0.8;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.open-post__members img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 4px;
}

.open-post__member-count {
  color: (--grey);
  opacity: 0.8;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--grey);
  margin: 0 4px;
}

.open-post__member-status {
  color: #ff93d4;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 4px;
}
