.icon-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.icon-row:last-child {
  display: flex;
  justify-content: flex-start;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.icon-row__icon svg {
  font-size: 36px;
}

.icon-row__icon span {
  margin-top: 16px;
  text-align: center;
}
